<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1.导入spring的坐标spring-context，对应版本是5.2.10.RELEASE-->
    <!--  2.配bean  -->
    <!--  bean标签标示配置
            bean
            id属性标示给bean起名字
            cLass属性表示给bean定义类型
    -->
    <bean id="bookDao" name="dao bookDao2" class="com.huawei.dao.impl.BookDaoImpl" scope="singleton"></bean>
    <!--7.配置server 与dao的关系-->
    <!-- property标签表示配置当前bean的属性
         name属性表示配置哪一个具体的属性
         ref属性表示参照哪一个bean
    -->
    <bean id="bookService" name="service bookService2" class="com.huawei.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>
    </bean>
</beans>